@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

* {
  font-family: 'Sofia Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #f6efee;
  font-family: 'Sofia Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  margin: 0 auto;
  max-width: 500px;
  padding-top: 2.5rem;
  font-size: 1.4rem;
  
}

.content {
  border: 5px #e365c1 solid;
  border-radius: 5px;
  font-family: 'Handlee', cursive;
  font-size: 20px;
  background-color:#f0f0f0;
  padding: 20px;
}

.contact-container {
  margin: 0 auto;
}

.contact-form {
  border: 5px #e365c1 solid;
  border-radius: 5px;
  font-family: 'Handlee', cursive;
  font-size: 20px;
  background-color:#f0f0f0;
  padding: 20px;
}

table {
  width: 100%;
}

td:first-child {
  width: 100%;
}

td:last-child {
  min-width: 125px;
}

th {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

input, button {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 2px #c0c0c0 solid;
}

button {
  cursor: pointer;
}

button.add {
  background-color: #3a86ff;
  color: #ffffff;
  margin: 0 0.5rem;
  font-size: 1.5rem;
}

button.edit {
  background-color: #badefc;
  color: #ffffff;
}

button.delete {
  background-color: #e04040;
  color: #ffffff;
}

button.save {
  background-color: #30b040;
  color: #ffffff;
}

button.back {
  background-color: #707080;
  color: #ffffff;
}

.task {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}
